<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">

    <display-name>APMTestWebAPP</display-name>
    <servlet>
        <servlet-name>SayHelloServlet</servlet-name>
        <servlet-class>com.dell.apm.testwebapp.servlet.SayHelloServlet</servlet-class>
        <init-param>
            <param-name>WSDL_FILE</param-name>
            <param-value>/META-INF/wsdl/SayHello.wsdl</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SayHelloServlet</servlet-name>
        <url-pattern>/action/sayHello</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MySQLDBServlet</servlet-name>
        <servlet-class>com.dell.apm.testwebapp.servlet.MySQLDBServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MySQLDBServlet</servlet-name>
        <url-pattern>/action/accessMySQL</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ErrorResponseCodeServlet</servlet-name>
        <servlet-class>com.dell.apm.testwebapp.servlet.ErrorResponseCodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ErrorResponseCodeServlet</servlet-name>
        <url-pattern>/action/errorResponseCode</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>120</session-timeout>
    </session-config>
    <servlet>
        <servlet-name>VisitTheSameLinkServlet</servlet-name>
        <servlet-class>com.dell.apm.testwebapp.servlet.VisitTheSameLinkServlet</servlet-class>
        <init-param>
            <param-name>configHost</param-name>
            <param-value>http://localhost:8090</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>VisitUrlServlet</servlet-name>
        <servlet-class>com.dell.apm.testwebapp.servlet.VisitUrlServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VisitUrlServlet</servlet-name>
        <url-pattern>/action/VisitUrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisitTheSameLinkServlet</servlet-name>
        <url-pattern>/action/VisitTheSameLink</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SleepAFixedTimeServlet</servlet-name>
        <servlet-class>com.dell.apm.testwebapp.servlet.SleepAFixedTimeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SleepAFixedTimeServlet</servlet-name>
        <url-pattern>/action/sleepAFixedTime</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ThrowExceptionServlet</servlet-name>
        <servlet-class>com.dell.apm.testwebapp.servlet.ThrowExceptionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ThrowExceptionServlet</servlet-name>
        <url-pattern>/action/throwException</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NeverReturnServlet</servlet-name>
        <servlet-class>com.dell.apm.testwebapp.servlet.NeverReturnServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NeverReturnServlet</servlet-name>
        <url-pattern>/action/neverReturn</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AcquireMultipleDataSourceServlet</servlet-name>
        <servlet-class>com.dell.apm.testwebapp.servlet.AcquireMultipleDataSourceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AcquireMultipleDataSourceServlet</servlet-name>
        <url-pattern>/action/acquireMultipleDataSource</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DepartmentServlet</servlet-name>
        <servlet-class>com.dell.apm.testwebapp.servlet.DepartmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DepartmentServlet</servlet-name>
        <url-pattern>/action/department</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DTOServlet</servlet-name>
        <servlet-class>com.dell.apm.testwebapp.servlet.dto.DTOServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DTOServlet</servlet-name>
        <url-pattern>/action/dto</url-pattern>
    </servlet-mapping>
</web-app>